In [1]:
import pandas as pd

In [2]:
feature_arrs = []
response_arrs = []

In [3]:
import os
for i in os.listdir('../data/raw_data'):
    df = pd.read_csv('../data/raw_data/'+i)
    
    age_arr = list(df.P5Y)
    year_arr = list(df.YEAR)
    district_arr = list(df.DISTRICT)
    gender_arr = list(df.P4)
    inflation_factor = list(df.Annualfac)
    employeeness_arr = list(df.Q4)
    
    for i in range(len(age_arr)):
        age_val = str(age_arr[i])
        year_val = year_arr[i]
        district_val = district_arr[i]
        gender_val = gender_arr[i]
        age_cat_val = 1
        
        if(age_val>'60'):
            age_cat_val = 3
        elif(age_val>'15'):
            age_cat_val = 2
        else:
            age_cat_val = 1

        count_val = inflation_factor[i]

        feature_arr = [year_val, district_val, age_cat_val, gender_val]
        response_arr = count_val
        
        if(str(employeeness_arr[i])=='2'):
            if(feature_arr not in feature_arrs):
                feature_arrs.append(feature_arr)
                response_arrs.append(response_arr)
            else:
                feature_arr_index = feature_arrs.index(feature_arr)
                old_count_val = response_arrs[feature_arr_index]
                new_count_val = old_count_val + count_val
                response_arr = new_count_val
                response_arrs[feature_arr_index] = response_arr

# print(feature_arrs)
# print(response_arrs)

In [4]:
new_df = pd.DataFrame(feature_arrs, columns = ['YEAR', 'DISTRICT', 'AGE_CAT', 'GENDER'])

In [5]:
new_df['COUNT'] = response_arrs

In [6]:
new_df.head()

   YEAR  DISTRICT  AGE_CAT  GENDER          COUNT
0  2016        11        3       2  374676.263469
1  2016        11        2       2  244321.305653
2  2016        11        2       1  117651.917843
3  2016        11        3       1   94013.832521
4  2016        11        1       2   26409.896631

In [7]:
new_df.tail()

     YEAR  DISTRICT  AGE_CAT  GENDER          COUNT
295  2017        92        3       1   34531.232434
296  2017        92        3       2  128322.260659
297  2017        92        1       2   14152.744811
298  2017        92        2       1   38234.902209
299  2017        92        1       1   13967.465039

In [8]:
new_df.to_csv('../data/unemployee.csv', index=False)