In [1]:
import pandas as pd

In [2]:
feature_arrs = []
response_arrs = []

In [3]:
import os
for i in os.listdir('../data/raw_data'):
    df = pd.read_csv('../data/raw_data/'+i)
    
    age_arr = list(df.P5Y)
    year_arr = list(df.YEAR)
    district_arr = list(df.DISTRICT)
    gender_arr = list(df.P4)
    inflation_factor = list(df.Annualfac)
    employeeness_arr = list(df.Q4)
    
    for i in range(len(age_arr)):
        age_val = age_arr[i]
        if(isinstance(age_val, str)):
            age_val = age_val.strip()
            if(len(age_val)==0 or not isinstance(age_val, float)):
                continue
            age_val = float(age_val)
        
        age_cat_val = 1
        
        if(age_val>60):
            age_cat_val = 3
        elif(age_val>15):
            age_cat_val = 2
        else:
            age_cat_val = 1
        
        year_val = year_arr[i]
        
        district_val = district_arr[i]
        
        gender_val = gender_arr[i]
        if(isinstance(gender_val, str)):
            gender_val = gender_val.strip()
            if(not len(gender_val)==0):
                gender_val = int(gender_val)
                
                if(not (gender_val==1 or gender_val==2)):
                    continue

        count_val = inflation_factor[i]
        if(isinstance(count_val, str)):
            temp_val = count_val.strip()
            if(len(temp_val)==0 or not isinstance(temp_val, float)):
                continue
            count_val = float(inflation_factor[i].strip())
        
        feature_arr = [year_val, district_val, age_cat_val, gender_val]
        response_arr = count_val
        
        if(str(employeeness_arr[i])=='1'):
            if(feature_arr not in feature_arrs):
                feature_arrs.append(feature_arr)
                response_arrs.append(response_arr)
            else:
                feature_arr_index = feature_arrs.index(feature_arr)
                old_count_val = response_arrs[feature_arr_index]
                new_count_val = old_count_val + count_val
                response_arr = new_count_val
                response_arrs[feature_arr_index] = response_arr

# print(feature_arrs)
# print(response_arrs)

/home/asitha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/asitha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,1,2,3,4,5,7,19,20,21,22,23,24,25,26,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/asitha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (13,14,15,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
new_df = pd.DataFrame(feature_arrs, columns = ['YEAR', 'DISTRICT', 'AGE_CAT', 'GENDER'])

In [5]:
new_df['COUNT'] = response_arrs

In [6]:
new_df.head()

   YEAR  DISTRICT  AGE_CAT  GENDER         COUNT
0  2008        11        2       2  16707.167113
1  2008        11        1       1   6194.798675
2  2008        11        1       2   8587.482721
3  2008        12        2       2  19420.847473
4  2008        12        1       1   4889.870235

In [7]:
new_df.tail()

     YEAR  DISTRICT  AGE_CAT  GENDER        COUNT
795  2006        22        1       2  1322.450794
796  2006        33        3       1   732.963625
797  2006        82        3       1   299.046257
798  2006        23        3       1   208.907160
799  2006        82        3       2   286.113528

In [8]:
new_df.to_csv('../data/under_employee.csv', index=False)